@import "_variable";

@mixin flexCenter($content, $direction : row){
	display: flex;
    align-items: center;
    justify-content: $content;

    @if $direction != row{
        flex-direction: column;
    }else{
        flex-direction: row;
    }
}

@mixin discounted{
    color: $primary;
    margin-right: 10px;
}

@mixin striked{
    color: $text-muted;
}

@mixin bootstrapBoxShadow($color){
    border: 1px solid unquote($color + "77");
    box-shadow: 0 0 0px 3px unquote($color + "55");
}