@import "_variable";

@mixin flexCenter($content){
	display: flex;
    align-items: center;
    justify-content: $content;
}

@mixin discounted{
    color: $primary;
    margin-right: 10px;
}

@mixin striked{
    color: $text-muted;
}

@mixin bootstrapBoxShadow($color){
    border: 1px solid unquote($color + "77");
    box-shadow: 0 0 0px 4px unquote($color + "55");
}