@import '_normalize';
@import '_mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: $font-family;
    color: $default;
    font-size: 1em;
    letter-spacing: .3px;
    background-color: #fff;
}

.subheadline {
    text-align: center;
    padding: 30px 0 !important;

    h4 {
      margin-bottom: 10px;
      letter-spacing: 0.1em;
      font-size: 20px;
    }
}

.container-fluid {
    margin: 0px $margin-side;
}
  
.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    border-radius: 10px;
    border: 1px solid transparent;
    outline: none;
    height: 50px;
    padding: 15px 30px;
    transition: all .3s ease;
}

a.btn{
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: $primary;
    // box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);

    &:hover{
        background-color: $primary__hovered;
    }

    &:active{
        background-color: $primary__focused;
        @include bootstrapBoxShadow($primary);
    }
}

.btn-light {
    color: $default;
    background-color: $light;

    &:hover{
        background-color: $light__hovered;
    }

    &:active{
        background-color: $light__focused;
        @include bootstrapBoxShadow($light__active);
    }
}

.bg-light{
    background-color: $body-bg;
}

.discounted-price{
    @include discounted;
}

.prev-price{
    @include striked;
}

.text-primary{
    color: $primary;
    font-weight: 500;
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;

  .form-control {
    font-family: $font-family;
    background-color: $light__hovered;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    padding-left: 15px;
    padding-right: 45px;
    border: 1px solid transparent;
    transition: all .3s ease;

    &:hover{
      background-color:  $light;
    }

    &:focus {
      background-color: transparent;
      @include bootstrapBoxShadow($primary);
    }
  }

  .input-icon {
    position: absolute;
    right: 15px;
  }
}