@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@import '_normalize';
@import '_variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: $font-family;
    color: $default;
    font-size: 1em;
    letter-spacing: .3px;
}

.subheadline {
    text-align: center;
    padding: 30px 0 !important;

    h4 {
      margin-bottom: 10px;
      letter-spacing: 0.1em;
      font-size: 20px;
    }
}