@import '_normalize';
@import '_variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: $font-family;
    color: $default;
    font-size: 1em;
    letter-spacing: .3px;
    background-color: $body-bg;
}

.subheadline {
    text-align: center;
    padding: 30px 0 !important;

    h4 {
      margin-bottom: 10px;
      letter-spacing: 0.1em;
      font-size: 20px;
    }
}

.container-fluid {
    margin: 0px $margin-side;
}
  
.btn {
    cursor: pointer;
    font-family: $font-family;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 50px;
    padding: 15px 30px;
    text-decoration: none;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 0.9;
    }
}

.btn-primary {
    color: #fff;
    background-color: $primary;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    transition: all .3 ease;

    &:hover{
        opacity: .8;
    }

    &:active{
        opacity: 1;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    }
}

.btn-light {
    color: #333;
    background-color: #eee;
}