@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@import '_font';

$font-family: 'Google Sans', sans-serif;
$secondary-family: 'Poppins', sans-serif;

$default: #333333;
$text-muted: #666;
$saturated-text: #ffffff77;
$body-bg: #fafafa;
$footer-bg: #000000;
$bg-light: #f5f5f5;

$light: #dbdbdb;
$light__hovered: #dfdfdf;
$light__focused: #cccccc;
$light__active: #bfbfbf;

$primary: #FF4D00;
$primary__hovered: #ff7d46;
$primary__focused: #da4100;

$radius: 10px;
$border: 1px solid #eeeeee;
$margin-side: 6%;
$margin-side__navigation: 4%;

$spacing: 4rem;
$divider: #E3E3E3;