@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@import '_font';

$font-family: 'Google Sans', sans-serif;
$secondary-family: 'Poppins', sans-serif;

$default: #333333;
$text-muted: #777;
$saturated-text: #ffffff77;
$body-bg: #fafafa;
$footer-bg: #000000;
$bg-for-image: #F5F5F5;

$light: #dbdbdb;
$light__hovered: #dfdfdf;
$light__focused: #ccc;

$primary: #FF4D00;
$primary__hovered: #ff7d46;
$primary__focused: #da4100;

$radius: 10px;
$margin-side: 6%;
$margin-side__navigation: 4%;